.close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #587169;
    background-color: transparent;
    cursor: pointer;
  }