@import '../../../styles/break-points.scss';

.wrapper {
  display: grid;
  padding: 1rem 2rem;
  min-height: 100vh;
  background-color: #f5faf8;
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    .back {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      border-radius: 8px;
      border: 1px solid #587169;
    }
    h1 {
      margin-left: 15px;
      font-size: 1.8rem;
      color: #587169;
    }
  }
  .form {
    display: grid;
    gap: 1rem;
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(165, 171, 179, 0.16);

    .button_wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }
}
