.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  min-height: 250px;
  text-align: left;
  text-decoration: none;
  background-color: #322c3a;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 0;
  transition: color 0.15s ease;
  cursor: pointer;

  &:hover {
    h2 {
      transition: all 200ms ease-in-out;
      font-size: 2rem;
    }
  }
  .card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem 1rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    &.Branco {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.8);
    }
    &.Vermelho {
      background-color: #f03a47;
      color: #fff;
    }
    &.Azul {
      background-color: #473bf0;
      color: #fff;
    }
    &.Preto {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
    }
    &.Prata {
      background-color: #9da9a0;
      color: rgba(0, 0, 0, 0.8);
    }
    h2 {
      font-size: 1.5rem;
    }
    .price {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: flex-start;
    width: 100%;
    padding: 0.7rem 1rem;
    .info_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;

      .info_name {
        font-weight: bold;
        text-transform: uppercase;
      }
      color: #e3d7ff;
    }
  }
  .bottom_wrapper {
    display: grid;
    grid-template-columns: 1fr 45px;
    align-items: flex-start;
    width: 100%;
    .description {
      word-wrap: break-word;
      word-break: break-all;
      padding: 0.7rem 1rem;
      color: #e3d7ff;
    }
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 5px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #28232e;
      .action {
        background-color: transparent;
        border: 0;
        margin: 2px 0px;
        font-size: 28px;
        color: #fff;
      }
    }
  }
}
