@import '../../styles/break-points.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 250px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  background-color: #322c3a;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: #28232e;
  }
  .card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);

    &.Branco {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.8);
    }
    &.Vermelho {
      background-color: #f03a47;
      color: #fff;
    }
    &.Azul {
      background-color: #473bf0;
      color: #fff;
    }
    &.Preto {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
    }
    &.Prata {
      background-color: #9da9a0;
      color: rgba(0, 0, 0, 0.8);
    }
    h2 {
      font-size: 1.3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      width: fit-content;
      font-weight: bold;
      font-size: 1.2rem;
      white-space: nowrap;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: flex-start;
    width: 100%;
    padding: 0.7rem 1rem;
    .info_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      width: 100%;
      color: #e3d7ff;
      .info_name {
        font-size: 0.6rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      .info_value {
        font-size: 0.7rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .bottom_wrapper {
    display: grid;
    grid-template-columns: 1fr 45px;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    .description {
      padding: 0 1rem 1rem 1rem;
      color: #e3d7ff;
      font-size: 0.9rem;
      word-wrap: break-word;
      word-break: break-all;
    }
    .actions {
      display: flex;
      align-self: flex-end;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 5px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #28232e;
      .action {
        margin: 2px 0px;
        border: 0;
        background-color: transparent;
        color: #fff;
        font-size: 1.7rem;
        cursor: pointer;
        &:hover {
          color: #cc5a71;
        }
      }
    }
  }
}
@include desktop {
  .card {
    .content {
      .info_wrapper {
        .info_name {
          font-size: 0.7rem;
        }
        .info_value {
          font-size: 0.8rem;
        }
      }
    }
  }
}
