.Card {
  position: relative;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  background-color: #f04f4f;
  border-radius: 10px;
  transition: color 0.15s ease; 
  cursor: pointer;
  
  &:hover {
    h2 {
      transition: all 200ms ease-in-out;
      font-size: 2rem;
    }
  }
  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #fff;
  }
  .price {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .content {
    padding-bottom: 10px;
    .info_wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0;
      .info_name {
        margin-right: 5px;
        font-weight: bold;
        text-transform: uppercase;
      }
      color: #fff;
    }
  }

  .actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid #000;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #332e3c;
    .action {
      background-color: transparent;
      border: 0;
      margin: 0 5px;
      font-size: 28px;
      color: #fff;
    }
  }
}
