.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:60px;
  padding: 10px 30px;
  background-color: #fff;
  border:1px solid #cad6d1;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
}
.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-right: 15px;
}
.input {
  font-family: 'Inter', sans-serif;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 18px;
  color:#000;
  
  &::placeholder {
    color:  rgba(2, 2, 2, 0.6);
    font-size: 18px;
  }
}
