.wrapper {
  position: relative;
  width: 100%;
  .input_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #cad6d1;
    background-color: #fff;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
   
    .search_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      font-size: 30px;
    }
    .input {
      width: 100%;
      border: 0;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.8);
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      outline: none;

      &::placeholder {
        color: rgba(2, 2, 2, 0.6);
        font-size: 18px;
      }
    }
    .results_reset {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 8px;
      border: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      cursor: pointer;
    }
  }
}
