@import '../../../styles/break-points.scss';

.link_button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  border: 1px solid #cad6d1;
  border-radius: 8px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition: all 180ms ease-in-out;
  &:hover {
    background-color: #28232e;
    color: #fff;
    cursor: pointer;
  }
  @include laptop {
    max-width: 365px;
  }
  .icon {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    margin-right: 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #28232e;
    color: #fff;
    font-size: 18px;
  }
  .link_button_text {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
}
