@import '../../../styles/break-points.scss';

.wrapper {
  display: grid;
  gap: 10px;
  @include laptop {
    padding: 1rem 2rem;
  }
  .main {
    display: grid;
    gap: 1rem;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 1rem 2rem;
  }
  .section_title {
    font-size: 1rem;
  }
  .search_filter_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @include laptop {
      grid-template-columns: 1fr 1fr;
    }
    @include desktop {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
